<h1>All Videos</h1>
<%= link_to "Export Report", csv_path(:csv) %>
<%= will_paginate %>
<table class="users">
	 	<tr><td><strong>Filename</strong></td><td><strong>Time</strong></td></tr>
  <% @videos.each do |video| %>
    <tr>
		<td><%= link_to video.filename, video %></td><td><%= video.time %></td><td><div style="float:right;"><br/><span class="content"><%= button_to "", edit_video_path(video), :method=>'get', :title => "edit",
																		 :class => 'edit_button'%></span>
							<span class="content"><%= button_to "", video, :method => :delete,
                                     :confirm => "You sure?",
                                     :title => "delete",
																		 :class => 'deletebutton',
'onclick'=>"return confirm('Are you sure?')" %></span>
				</div></td>
    </tr>
  <% end %>
</table>
<%= will_paginate %>
