<div class="container" style="position:relative; top:0px; z-index: 10; width:960px;">
<div class="menu" style="width:960px;">
	<ul>

		<li><%= link_to "HOME", root_path%></li>
		<li><div>|</div></li>	
		<li><%= link_to "VIDEO INDEX", videos_path%></li>
    <li><%= link_to "MAP ALL", mapall_path%></li>
		<li><%= link_to "TIME PERIOD MAPS", "#" %>
			<ul>			
			<li><%= link_to "15:30-15:39", map1530_path, :class=> "two" %></li>
			<li><%= link_to "15:40-15:49", map1540_path %></li>
			<li><%= link_to "15:50-15:59", map1550_path %></li>
			<li><%= link_to "16:00-16:09", map1600_path, :class=> "two" %></li>
			<li><%= link_to "16:10-16:19", map1610_path %></li>
			<li><%= link_to "16:20-16:29", map1620_path %></li>
			<li><%= link_to "16:30-16:39", map1630_path, :class=> "two" %></li>
			<li><%= link_to "16:40-16:49", map1640_path %></li>
			<li><%= link_to "16:50-16:59", map1650_path %></li>
			<li><%= link_to "17:00-17:09", map1700_path, :class=> "two" %></li>
			<li><%= link_to "17:10-17:19", map1710_path %></li>
			<li><%= link_to "17:20-17:29", map1720_path %></li>
			<li><%= link_to "17:30-17:39", map1730_path, :class=> "two" %></li>
			<li><%= link_to "17:40-17:49", map1740_path %></li>
			<li><%= link_to "17:50-17:59", map1750_path %></li>
			</ul>
		</li>
		<li><div>|</div></li>
		<li><%= link_to "ADD VIDEO", new_path%></li>
		<li><div>|</div></li>
		<li><%= link_to "OFFICIAL VIDEOS", "http://www.lopavent.com/chronologie" %></li>
	</ul>
</div>
</div>
